[access]
	inheritFrom = All-Projects
[project]
	state = active
	description = A PHP script to convert MediaWiki wiki markup to Markdown, specifically GitHub Flavored Markdown.\n\
\n\
I will probably regret (trying to) write this.
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/*"]
	owner = group FastLizard4
	read = group Anonymous Users
	read = group Registered Users
	abandon = group Registered Users
	create = group FastLizard4
	create = group mediawiki-to-markdown
	forgeCommitter = group FastLizard4
	push = +force group FastLizard4
	pushMerge = group FastLizard4
	label-Code-Review = -2..+2 group FastLizard4
	label-Code-Review = -2..+2 group mediawiki-to-markdown
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group FastLizard4
	label-Verified = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group mediawiki-to-markdown
	rebase = group FastLizard4
	rebase = group mediawiki-to-markdown
	submit = group FastLizard4
[access "refs/for/refs/*"]
	push = group Registered Users
	push = group mediawiki-to-markdown
	pushMerge = group FastLizard4
	pushMerge = group mediawiki-to-markdown
[access "refs/tags/*"]
	pushTag = group FastLizard4
